<footer class="site-footer">
  <p class="site-footer__title container">nightfall: the ordeal</p>
  <nav class="footer-nav container">
    {% comment %} <ul class="footer-nav__list">
      <li class="footer-nav__item"><a href="/nightfalls/the-hollowed-lair">The Hollowed Lair</a></li>
      <li class="footer-nav__item current"><a href="/nightfalls/lake-of-shadows">Lake of Shadows</a></li>
      <li class="footer-nav__item"><a href="#">Exodus Crash</a></li>
      <li class="footer-nav__item"><a href="#">The Corrupted</a></li>
      <li class="footer-nav__item"><a href="#">Proving Grounds</a></li>
      <li class="footer-nav__item"><a href="#">The Devils’ Lair</a></li>
    </ul> {% endcomment %}
    <ul class="footer-nav__list">
      <li class="footer-nav__item"><a href="/nightfalls/the-hollowed-lair">about nightfalls</a></li>
      <li class="footer-nav__item"><a href="/nightfalls/lake-of-shadows">site info</a></li>
    </ul>
  </nav>
</footer>