---
layout: layout.liquid
---

<main class="container">

<article class="home-nf">
  <section class="home-nf__content">
    <p class="nf-pretitle nf__dates"></p>
    <h1 class="nf-title nf__name"></h1>
    {% comment %} <ul class="home-nf__meta">
      <li class="nf__drops"><strong>Drops</strong>: </li>
    </ul> {% endcomment %}

    <p class="nf__excerpt"></p>
    <ul class="home-nf__meta">
      <li class="nf__champions"><strong>Champions</strong>: 
      </li>
      <li class="nf__shields"><strong>Shields</strong>:
      </li>
      <li class="nf__burn"><strong>Burn</strong>:
      </li>
    </ul>

    {% comment %} <a class="nf__link home-nf__cta" href="">Read more →</a> {% endcomment %}

  </section>

  <figure class="home-nf__image nf__image">
    <img src="" alt="">
    <figcaption></figcaption>
  </figure>
</article>


<hr>

<section class="home-list">
  <h2 class="home-list__title">Season of the Risen → Nightfalls List</h2>

  
  <article class="nf-card">
    <h3 class="nf-card__title">The Scarlet Keep</h3>
    <img src="/img/hashladun_edit.jpg" alt="" class="nf-card__image">
  </article>
  <article class="nf-card">
    <h3 class="nf-card__title">The Arms Dealer</h3>
    <img src="/img/bracus-zahn_edit.jpg" alt="" class="nf-card__image">
  </article>
  <article class="nf-card">
    <h3 class="nf-card__title">The Lightblade</h3>
    <img src="/img/alak-hul_edit.jpg" alt="" class="nf-card__image">
  </article>
  <article class="nf-card">
    <h3 class="nf-card__title">The Glassway</h3>
    <img src="/img/belmon_edit.jpg" alt="" class="nf-card__image">
  </article>
  <article class="nf-card">
    <h3 class="nf-card__title">Fallen S.A.B.E.R.</h3>
    <img src="/img/saber_edit.jpg" alt="" class="nf-card__image">
  </article>
  <article class="nf-card">
    <h3 class="nf-card__title">Birthplace of the Vile</h3>
    <img src="/img/wq_edit.jpg" alt="" class="nf-card__image">
  </article>
</section>



</main>

<script src="/js/rotation_s16.js"></script>