---
layout: layout.liquid
---

<main class="container page">

<header class="page-header">
  <h1 class="page-title">{{ title }}</h1>
</header>

<section class="schedule">

  <ol class="schedule__list">
    <li class="schedule__item schedule__item--header">    
      <p class="schedule__date"><strong>Date</strong></p>
      <p class="schedule__nf"><strong>Nightfall</strong></p>
      <p class="schedule__drop"><strong>Weapons</strong></p>
    </li>
    <li class="schedule__item">    
      <p class="schedule__date">Oct. 5–11</p>
      <p class="schedule__nf">The Hollowed Lair</p>
      <p class="schedule__drop">PLUG ONE.1 and Uzume RR4</p>
    </li>
    <li class="schedule__item">        
      <p class="schedule__date">Oct. 12–18 </p>
      <p class="schedule__nf">Lake of Shadows</p>
      <p class="schedule__drop">THE SWARM and The Palindrome</p>
    </li>
    <li class="schedule__item">        
      <p class="schedule__date">Oct. 19–25</p>
      <p class="schedule__nf">Exodus Crash</p>
      <p class="schedule__drop">The Comedian and Shadow Price</p>
    </li>
    <li class="schedule__item">    
      <p class="schedule__date">Oct. 26 – Nov. 1</p>
      <p class="schedule__nf">The Corrupted</p>
      <p class="schedule__drop">Hung Jury SR4 and The Hothead</p>
    </li>
    <li class="schedule__item">        
      <p class="schedule__date">Nov. 2–8</p>
      <p class="schedule__nf">The Devils’ Lair</p>
      <p class="schedule__drop">PLUG ONE.1 and Uzume RR4</p>
    </li>
    <li class="schedule__item">        
      <p class="schedule__date">Nov. 9–15</p>
      <p class="schedule__nf">Proving Grounds</p>
      <p class="schedule__drop">THE SWARM and The Palindrome</p>
    </li>
    <li class="schedule__item current">        
      <p class="schedule__date">Nov. 16–22</p>
      <p class="schedule__nf">The Hollowed Lair</p>
      <p class="schedule__drop">The Comedian and Shadow Price</p>
    </li>
  </ol>

</section>

</main>