---
layout: layout.liquid
---

<main class="container page">

<header class="page-header">
  <h1 class="page-title">{{ title }}</h1>
</header>

<section class="schedule">

  {{ content }}

  <ol class="schedule__list">
    <li class="schedule__item schedule__item--header">    
      <p class="schedule__date"><strong>Date</strong></p>
      <p class="schedule__nf"><strong>Nightfall</strong></p>
      {% comment %} <p class="schedule__drop"><strong>Weapons</strong></p> {% endcomment %}
    </li>
  </ol>

</section>

</main>

<script src="/js/schedule.js"></script>